.leaflet-container {
    width: 95% !important;
    height: 500px !important;
    position: relative !important;
    margin: 20px !important;
}

#showGeoJSONButton {
    margin: 20px auto;
    padding: 10px 8px;
    border-radius: 6px;
    background-color: #1c6464;
    display: flex;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* open source js file css style */

.row .product .open-title h1 {
    position: relative;
    text-align: center;
    padding: 25px;
}

.row .product .open-title h1::after {
    content: " ";
    position: absolute;
    width: 140px;
    height: 2px;
    left: 50%;
    bottom: 6px;
    transform: translateX(-50%);
    background-color: #333;
}

/* Data Buttons Part */

.data {
    margin: 10px 0;
    text-align: center;
}

.data .one {
    margin-bottom: 15px;
    text-align: center;
}

.data .one .data-inpu {
    border-radius: 6px;
    padding: 6px 5px;
    margin: 0 10px;
}

.data #showGeoServerData {
    padding: 7px 5px;
    font-size: 17px;
}